[alias]
   co = checkout
   st = status
   ci = commit
   di = diff
   mg = merge
   br = branch
[color]
   ui = auto
[include]
    path = ~/.gitconfig.local
[core]
	whitespace = trailing-space,space-before-tab
	excludesfile = ~/.gitignore_global
[http]
	postBuffer = 524288000
	sslVerify = true
[push]
	default = simple
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[pager]
  log = diff-so-fancy | less
  diff = diff-so-fancy | less --tabs=1,5 -RFX
  show = diff-so-fancy | less --tabs=1,5 -RFX
[diff]
	compactionHeuristic = true
[http "https://gopkg.in"]
  followRedirects = true
[ghq]
  root = ~/workspace/ghq
  root = ~/workspace/go/src
[user]
	name = Naoki Takano
	email = honten@tinkermode.com
